services:
  postgres:
    image: postgres:18-alpine
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata_dev:/var/lib/postgresql/data
    tmpfs:
      - /tmp
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    command:
      - -c
      - listen_addresses=*
      - -c
      - wal_level=logical

  electric:
    image: docker.io/electricsql/electric:latest
    environment:
      DATABASE_URL: ${DATABASE_URL}
      ELECTRIC_INSECURE: ${ELECTRIC_INSECURE}
    ports:
      - "4000:3000"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  pgdata_dev:
